rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // UNIVERSAL ALLOW FOR DEBUGGING PERMISSION ISSUES
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
